@use './foundations/reset.scss';
@use './foundations/fonts.scss' as *;
@use './foundations/variables.scss' as *;
@use './foundations/_breakpoint.scss' as *;





/* === Styles globaux === */
html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(23, 58, 67);
;
}
body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text);
  background-color: rgb(23, 58, 67);
  line-height: 1.6;
  font-size: 15px;
}
